@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0;
}

.logo-text {
    margin-top: 71px;
    font-size: 24px;
    font-weight: 800;
}

.top-banner {
    display: flex;
    padding-top: 60px;
}

.top-banner-text {
    width: 640px;
    padding: 0px 110px 0px 0px;
}

.top-banner-text h1 {
    font-size: 52px;
    font-weight: 700;
    margin: 10px 0px;
}

.top-banner-text p {
    margin: 16px 0px;
    font-size: 16px;
    font-weight: 600;
}

.btn {
    padding: 10px 24px;
    border: none;
    border-radius: 41px;
    background-color: #E02C6D;
    font-size: 16px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn .btn-icon {
    padding-left: 15px;
    font-size: 30px;
}

.top-banner-img {
    width: 500px;
    background-repeat: no-repeat;
    background-size: contain;
}

.top-banner-img img {
    width: 100%;
}